{% extends "layout.html" %}
{% block usercontent %}

<h1><div class="jumbotron" style="margin: 20px">
  <h1>How Are You Angelhack?<br> Welcome to freej</h1>
  <p>Our app aims to help reduce food wastage by providing recipies that make use of the items in your fridge before they spoil. </p>

    <a type="button" class="btn btn-primary" href="/user/1">User 1</a>
  <a type="button" class="btn btn-primary" href="/user/2">User 2</a>
  <a type="button" class="btn btn-primary" href="/user/3">User 3</a>
</div>
</h1>

{% endblock %}