<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Mobile Support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Static Top Bar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
        <a class="navbar-brand" href="#">Freej</a>
        </div>
    </nav>

    {% block usercontent %}{% endblock %}

</body>
</html>